@import "tailwindcss";

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #020617;
  color: white;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #06b6d4;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #0891b2;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #06b6d4;
}